/* styling our header content */
.cabezera {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

.cabezera-logo {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}

.cabezera-menu {
  width: 50%;
  display: inline-block;
  text-align: right;
}

.cabezera-menu ul li {
  display: inline-block;
}
.cabezera-menu ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

.cabezera-menu ul li a:hover   {
  background: #444;
}

/* styling our main content */
.tabla-libros {
  border-collapse: collapse;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.tabla-libros, td, th {
    border: 1px solid #425693;
}

.tabla-libros-cabezera {
  background-color: #1d2c59;
  color: white;
  height: 50px;
}


.tabla-resultado {
  border-collapse: collapse;
  width: 40%;
  margin-left: 5%;
}
