/* styling our header content */
.cabezera {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

.cabezera-menu {
  width: 50%;
  display: inline-block;
  text-align: right;
}

/* styling our main content */
.tabla-libros {
  width: 100%;
}

.tabla-libros-cabezera {
  background-color: #1d2c59;
  color: white;
  border: 1px solid #425693;
  height: 50px;
}
